#header_id {
  margin-top: 3.5rem;
  background-image: url("../../image/cup-of-coffee-1280537_1280.jpg");
  background-size: cover;
  background-position: center;
  height: 70vh;
  z-index: -1;
  padding-top: 13rem;
}

#header_social a i {
  font-size: 1rem;
}

#back_to_top_id {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 3;
  color: wheat !important;
  border-radius: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  font-size: 25px;
  background-color: firebrick;
  padding: 10px;
  transition: 0.2s all linear;
}

#back_to_top_id:hover {
  margin-bottom: 1.3rem;
  color: white;
}
