<!-- Start Header -->
<header id="header_id">
    <div class="jumbotron text-white text-shadow">
        <div class="container">
            <div class="text-center p-5">
                <h1 class="text-uppercase shadow">Angular Eğitimine Hoşgeldiniz</h1>
                <h4>Frontend, Angular, Javascript</h4>
                <div id="header_social" class=" mt-4 mb-3">
                    <a href="" class="btn btn-primary me-2">Linkedin</a>
                    <a href="" class="btn btn-danger me-2">Github</a>
                    <a href="" class="btn btn-secondary">GitHub</a>
                </div>
            </div>

        </div>
    </div>
</header>
<!-- Start Header -->



<a id="back_to_top_id" href="#header_id" class="back-to-top d-flex align-items-center justify-content-center">
    <i class="fa-solid fa-chevron-up"></i>
</a>