<div id="main_id" style="margin-top: 5rem">
    <main>
        <!-- About start -->
        <section id="about_me_id">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam repellat deserunt iure fuga recusandae
                error, quos amet, voluptatum voluptates quasi cumque libero, modi pariatur magnam excepturi id facilis
                deleniti neque.
                Vitae alias, ullam error excepturi beatae consequuntur ad saepe magni impedit nemo officia eaque
                voluptatum quod obcaecati laborum reiciendis quo nostrum. Dicta doloremque veritatis perspiciatis velit
                iure ad porro corporis.
                Doloremque illum et possimus nihil nobis. Voluptatem ab at beatae doloremque aperiam voluptatibus minima
                ipsum, saepe adipisci officiis expedita accusamus similique repellat ea dolore voluptatum commodi, et
                corporis! Totam, itaque!
                Tenetur minus perferendis totam fugiat aliquam eligendi distinctio expedita optio tempora at vitae,
                soluta delectus autem dolor eveniet iure perspiciatis reprehenderit culpa doloribus officiis voluptatum,
                eos cumque qui architecto. Hic.
                Possimus laborum similique ut architecto veritatis quos assumenda, totam magni maxime consequuntur ipsa
                facilis, alias quasi exercitationem sunt animi nihil illum numquam? Natus, ipsam ut unde saepe optio
                itaque debitis!
                Voluptas minus cumque laborum accusantium iusto at incidunt eos nesciunt consequatur officia dolores
                sunt fugiat laudantium, architecto praesentium. Consequatur atque voluptatem tempora officiis earum
                neque reiciendis delectus ipsum eligendi aut!
                Laudantium at accusantium eius officia unde nam iure repellat dolorem amet ducimus dolore optio porro
                placeat natus, aut sapiente facere voluptatibus animi minima doloremque ratione in molestias aperiam.
                Pariatur, quaerat!
                Deserunt repellat hic quis libero sunt ad veniam, doloremque, aspernatur consequatur obcaecati iusto
                odio rem accusamus voluptatem quidem tenetur non dolorem laudantium nam magni aperiam. Delectus ex
                corrupti doloremque! Fuga.
                Similique at laborum ducimus cupiditate iusto rem deleniti voluptatibus quod veritatis, excepturi fugit
                porro autem nesciunt totam eum quae voluptatem doloribus, tempore, adipisci nobis nihil? Aperiam
                consequuntur dolores nisi dicta.
                Quam explicabo cupiditate, commodi doloremque aliquam dolores iure sit, doloribus sunt aliquid nihil
                facilis ut quibusdam deleniti quasi culpa placeat architecto harum maiores tempora ducimus itaque
                eveniet cumque quas! Ex?
                Possimus, consectetur esse, a tempora nihil placeat hic illo animi autem at odit itaque quo vero
                praesentium assumenda, impedit blanditiis deleniti inventore ea laboriosam. Incidunt, possimus quo!
                Ullam, explicabo reiciendis.
                Eos rerum incidunt expedita eveniet aliquid tempore deleniti ratione. Magni, nesciunt ea? Nemo
                perspiciatis ratione eius nobis architecto tempora explicabo earum. Veritatis, dolore? Facilis suscipit
                soluta porro inventore? Quidem, sequi.</p>
        </section>
        <!-- About start -->

        <!-- Blog start -->
        <section id="blog_id"></section>
        <!-- Blog start -->

        <!-- Contact start -->
        <section id="contact_id"></section>
        <!-- Contact start -->
    </main>
</div>